body {
    background-color: #f4f5f6;
    color: #333;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.margin-zero {
    margin: 0;
}

.without-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}
.n-icon {
    display: inline-block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}

.container .latest-categorized-news {
    margin-top: 15px;
}

.section-row-margin {
    margin: 0 auto;
}
.category-row-margin {
    margin: 25px auto 0 auto;
}
.background-red {
    background-color: #f42;
}
.background-white {
    background-color: #fff;
}
.font-white {
    color: #fff;
}
.max-width-1310px {
    max-width: 1310px;
    min-width: 300px;
    width: auto;
}
.margin-top-5px {
    margin-top: 5px;
}


.margin-top-10px-xs {
    margin-top: 0;
}
.margin-top-10px-sm {
    margin-top: 0;
}
.margin-top-10px-md {
    margin-top: 0;
}
.margin-top-10px-lg {
    margin-top: 0;
}
.margin-top-10px-xl {
    margin-top: 0;
}



.padding-45px {
    padding: 45px;
}

.sm-section-box {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.edition-label {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1;
    margin: 10px 10px 0 0;
    color: #666;
}
.underline-border-ccc{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.row .itmi-category {
 margin-top: 10px;
 margin-bottom: 10px;
 color: #f72210;
 font-weight: 700;
 font-size: 1.25em;
 text-transform: uppercase;
}
.row .col-sm-12 .epick-label {
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(255,255,255,.9);
    color: #f72210;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25em;        
    margin-top: -32px;        
 }


.max-width-290px {
    max-width: 290px;
}
.secondary-latest-news {
    min-width: 135px;
    max-width: 225px;
    width: 40%;
}

.itmi-label {
    background-color: #f72210;
    color: #fff;
    padding: 3px 7px;    
}
.section-little-description {
    color: #000;
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.3;
    margin-top: 5px;
}
.section-link {
    margin-top: 5px;
}
.section-link > a {
    color: #000;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1;
}
.section-link > a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #f72210;
}

.sm-section-link {
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: 1.30em;
    line-height: 1.25;
}
.sm-section-link > a {
    color: #000;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
}
.sm-section-link > a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #f72210;
}


.section-title {
    display: flex;
    border-bottom: 1px solid #ccc;        
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
    align-items: center;
    justify-content:center;
}

.category-title {
    color: #f72210;
    font-size: 1.5em;
    font-weight: 700;
}


/*ONLY FOOTER*/
.footer-red-logo {    
    float: left;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    fill: #f72210;
}
.trademark-logo {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
.footer-social-networks {
    display: flex;
    align-items: baseline;
}
.footer-social-networks > a {
    margin-left: 10px;
    color: #666;
}
.footer-ul-links {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
}
.footer-li-link {
    padding: 0 10px 0 0;
    border-right: 1px solid #ccc;
    line-height: 1;
    margin: 10px 10px 0 0;
    font-size: 1.25em;
    color: #666;
}
.footer-li-link > a {    
    color: #666;
    text-decoration: none;
}
.footer-li-link > a:hover {
    color: #000;
}
.footer-padding {
    padding: 0 45px 45px 45px;
}


@media (max-width: 575px) { 
    .margin-top-10px-xs {
        margin-top: 10px;
    }

    .trademark-logo {
        flex-direction: column;
    }
    .trademark-logo > span {
        margin-top: 10px;
    }
    .underline-border-ccc{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .footer-social-networks > a {
        margin: 10px 10px 0 0;
        margin-left: 0;
        margin-right: 10px;
        color: #666;
    }
    .footer-padding {
        padding: 0 30px 45px 30px;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .margin-top-10px-sm {
        margin-top: 10px;
    }


    .trademark-logo {
        flex-direction: column;
    }
    .trademark-logo > span {
        margin-top: 10px;
    }
    .underline-border-ccc{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .footer-social-networks > a {
        margin: 10px 10px 0 0;
        margin-left: 0;
        margin-right: 10px;
        color: #666;
    }
    .footer-padding {
        padding: 0 30px 45px 30px;
    }
}
@media (max-width: 992px) and (min-width: 768px) { 
    .margin-top-10px-md {
        margin-top: 10px;
    }    
}
@media (max-width: 1199px) and (min-width: 993px) { 
    .margin-top-10px-lg {
        margin-top: 10px;
    }
}
@media (min-width: 1200px) { 
    .margin-top-10px-xl {
        margin-top: 10px;
    }
}

.margin-top-10px {
    margin-top: 10px;
}
.margin-top-50px {
    margin-top: 50px;
}